html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #F8F8F8 url(images/overlay.png) repeat;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 400;
	color: rgba(0,0,0,.8);
}






.container {
	width: 1200px;
	margin: 0px auto;
}


.clearfix {
	clear: both;
}

/* MENU */
#menu2 {
	overflow: hidden;
	background: #101010;
}

#menu2 ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu2 li {
	display: inline-block;
}

#menu2 a {
	display: block;
	padding: 0px 100px 0px 100px;
	line-height: 70px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 18px;
	font-weight: 200;
	color: rgba(255,255,255,0.5);
	border: none;
}

#menu2 a:hover, #menu .current_page_item a {
	text-decoration: none;
	color: rgba(255,255,255,0.8);
}

#menu2 .current_page_item a {
}

#menu2 .last {
	border-right: none;
}

/* wrapper */

#header-wrapper2
{
	background: url(images/bg3.jpg) no-repeat center center;
	background-size: cover;
}

#header2 {
	position: relative;
	overflow: hidden;
	height: 300px;
}

#social2
{
	position: absolute;
	top: 4em;
	right: 0;
}



/** LOGO */

#logo2 {
	position: absolute;
	top: 3em;
	left: 0;
}

#logo2 h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo2 h1 {
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 3.5em;
	color: #FFFFFF;
}

#logo2 p {
	padding: 0px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-size: 0.9em;
	color: #FFFFFF;
}

#logo2 p a {
	color: #FFFFFF;
}

#logo2 a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}


	.column1,
	.column2,
	.column3,
	.column4
	{
		width: 282px;
	}
	
	.column1,
	.column2,
	.column3
	{
		float: left;
		margin-right: 24px;
	}
	
	.column4
	{
		float: right;
	}




#wrapper2 {
	background: #FFF ;
	margin: 0px 20px ;
}

.container2 {
	width: 1200px;
	margin: 0px auto ;
}



.clearfix2 {
	clear: both;
}

